body {
    background-color: white;
}

p {
	font-family: 'Lato', sans-serif;
}

.title {
	letter-spacing: -1px;
	font-size: 54px;	
}

.subtitle {
	font-size: 36px;
}

.contact {
	font-size: 24px;
}

.social {
	font-size: 18px;
}

.image-face {
	width: 150px;
	height: 150px;
}

a {
    color: #56A3B0;
}

#bio {
	width: 50%;
	margin-left: auto;
  	margin-right: auto;
}

#info {
	color: #242736;
	text-align: center;
	position: relative;
  	top: 10%;  	
}